@model PagedList.IPagedList<Mono.Model.Category>
@using PagedList.Mvc;
@using Mono.HtmlHelperExtension
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_AdminMenu");
}

<h2>Subcategories for category @ViewBag.Category</h2>

@{ Html.RenderPartial("_Category", Model); }