@model PagedList.IPagedList<Mono.Model.Food>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_AdminMenu");
}

<h2>Food</h2>

@{ Html.RenderPartial("_Food", Model); }