@model Mono.Areas.Auction.Models.ItemViewModel

<table class="table" style="border:1px solid #0094ff">
    @foreach (var item in Model.ListCategoryFood)
    {
        <tr>
            <td>
                @if (item.Type == Mono.Areas.Auction.Models.ListCategoryFoodItemType.Category)
                {
                    using (Ajax.BeginForm("Index",new { id = item.ItemID }, 
                        new AjaxOptions
                        {
                            HttpMethod = "get",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "subCategory" + item.ItemID.ToString()
                        }))
                    {
                        <input type="submit" value=@item.Name class="btn btn-default" />
                    }
                    <div id="subCategory@(item.ItemID)"></div>
                }
                else
                {                   
                    @Html.ActionLink(@item.Name, "Add", new { id = item.ItemID })
                }
            </td>
        </tr>
    }

</table>