@model mono.Areas.Auction.Models.ItemViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (Model.Name != "All")
    {
        if (Model.ParentCategoryID == null)
        { 
            @Html.ActionLink("Up", "Index", new { id = "" })
        }
        else
        {
            @Html.ActionLink("Up", "Index", new { id = Model.ParentCategoryID })
        }
    }
</p>

@Html.Partial("_Category", Model)


