
@{
    ViewBag.Title = "CharUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CharUser</h2>

<div>
    <h4>Form</h4>
    <br /><input type="text" id="message" placeholder="Message" size="100" />
    <br />
    <input type="button" id="sendToRestaurants" class="btn" value="Send to restaurants" />
</div>
