
@{
    ViewBag.Title = "Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_AdminMenu");
}

<h2>Type</h2>
<p>@ViewBag.SizeValuesString</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

