
@{
    ViewBag.Title = "Type";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Type</h2>
<p>@ViewBag.SizeValuesString</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

