
@{
    ViewBag.Title = "Deactivate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deactivate</h2>
<p class="alert-danger">@ViewBag.Message</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

